.user{
    color: black;
    font-weight: bold;
    margin: 10px;
  }

  .mail{
    color: grey;
  }

  .header{
    color: rgb(83, 181, 172);
  }
  .text{
    color: black;
  }
  .card {
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  .btn {
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 20%;
  } 

  .modal {
              display: none;
              position: fixed;
              z-index: 1;
              padding-top: 100px;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgb(0, 0, 0);
              background-color: rgba(0, 0, 0, 0.4);
          }

          .active {
              display: block;
          }

          
          .modal-content {
              background-color: #fefefe;
              margin: auto;
              padding: 20px;
              border: 1px solid #888;
              width: 80%;
          }

          /* The Close Button */
          .close {
              color: #aaaaaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
          }

          .close:hover,
          .close:focus {
              color: #000;
              text-decoration: none;
              cursor: pointer;
          }

   #post-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }

   #title-post{
    width: 70%;
   }

   #content-post {
    width: 85%;
   }

   .image-edit{
    border: 1px solid black;
    border-radius: 20%;
   }

   .editwindow{
    border: 4px solid green;
   }

   .form-edit{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
   }

   .done{
    width: 200px;
    margin: 0 auto;
   }

   .add-post{
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
   }
  

   
  
 
   
  
